<%= simple_form_for [current_user, @child] do |f| %>
  <%= f.input :name , :label => "What's his name ?"%>
  <%= f.input :biography, :label => "Tell us more about him?" %>
  <%= f.input :age, :label => "How old is he ?" %>
  <%= "What makes her/him special ?"%>
  <div class="assoc-columns"  >
  <%= f.association :conditions , label: false , as: :check_boxes %>
  </div>
  <%= "What's hobby ?"%>
  <div class="assoc-columns"  >

    <% Interest.all.each_with_index do |int, i| %>
          <img src="<%= int.photo %>" alt="Smiley face" class="interest-pic" data-checkbox-id="<%= int.id %>" height="42" width="42">
        <%= check_box_tag( "child[interest_ids][]", int.id, checked = false, label: int.name, hidden: true , id: "int_#{int.id}" )  %>


    <% end %>

  </div>
  <%= f.submit "Save", class: "btn btn-flat" %>
<% end %>
