
<div class="container">
  <h1>Say hi!</h1>





  <% if messages %>

  <ul class="chat">
    <% messages.each do |message| %>
    <% message.readat = DateTime.now %>
    <% message.save %>
      <li>
        <div class="convo <%= current_user.id == message.sender_id ? 'message-sent' : 'message-received' %>">
          <div>
            <div class="chatblub">
              <p><%= message.content %></p>
            </div>
            <span class="username">
              <%= message.created_at.to_formatted_s(:short) %>
            </span>
          </div>
        </div>
      </li>
    <% end %>

    <li>
        <div class="panel-body" id="messages"> </div>
    </li>
  </ul>



  <% else %>
    <p>Start a conversation!</p>
  <% end %>


</div>

<div class="form">

    <div class="formulier">
    <%= render '/messages/form', message: Message.new, conversation: conversation, user: current_user %>
    </div>
    <div class="linkplay">
     <% @receiver = @conversation.users.where.not(id: current_user.id) %>
     <% if messages.present? %>
       <%= link_to new_user_playdate_path(@receiver.first), class: "btn btn-success playdate_invite" do %>
         Plan a playdate!
         <% end %>
     <% end %>
    </div>

</div>




