


<div class="sidenav">
    <% if @conversations.empty? %>
      <p style="margin-top:38px;">No conversations yet!</p>
    <% else %>
      <ul>
        <% @conversations.each do |conversation| %>
          <% unread_messages = conversation.messages.select { |message|  message.readat == nil && message.sender != current_user } %>
          <li class="chatprofilebox <%= conversation.id.to_s == params[:conversation_id.to_s] ? 'active' : 'nonactiv' %>">
              <%= link_to conversations_path(conversation_id: conversation.id), class: "chatlink" do %>
                <% conversation.users.each do |user| %>
                  <% if user != current_user %>
                    <div class="avatar-large" style="background:url(<%= user.photo %>)"></div>
                    <p><strong><%= user.last_name %></strong> family</p>
                  <% end %>
                <% end %>
                <% if not unread_messages.empty? %>
                <div class="notification"><%= unread_messages.count %></div>
                <% end %>
                <div class="destroyit">
                    <%= link_to user_conversation_path(current_user, conversation), method: :delete, data: { confirm: "Are you sure you want to delete this conversation? You will delete the messages as well!" }  do %>
                       <i class="fas fa-trash-alt"></i>
                    <% end %>
                </div>
              <% end %>

          </li>
        <% end %>
      </ul>
    <% end %>
</div>
<% if @conversation %>
<div id="chat-profile" class="chatclosed">
  <div class="chatprofnav">
    <a id="openclose" href="#"></a>
  </div>

    <% convo_user = @conversation.users.reject {|user| user == current_user}.first %>

  <%= link_to user_path(id: convo_user.id), class: "userlink" do %>
    <div class="usercards">
      <div class="card-image" style="background-image:url(<%= convo_user.photo %>)">
        <span class="viewprofile">View profile</span>
      </div>
      <div class="userbio">
         <h4><%= convo_user.last_name %> family</h4>
         <p><%= convo_user.address %></p>


      </div>
      <div class="card-footer">
       <div class="kid_count">
         <% convo_user.children.count.times do %>
           <i class="fas fa-child"></i>
         <% end %>
       </div>
       <div class="specialities">
         <ul>

           <% convo_user.children.each do |child| %>
               <% child.conditions.each do |condition| %>
                 <li><%= condition.name %></li>
               <% end %>
           <% end %>
         </ul>
       </div>
      </div>
    </div>
  <% end %>

</div>
<% end %>

<div id="contentchat" class="main chat chatcontentclosed">
  <div class="chatbox">
    <% if @conversations.empty? %>
      <div class="container"><p>It's blank here!</p></div>
    <% else %>
      <div id="conversation-container" data-current-user="<%= current_user.username %>" data-conversation-id="<%= @conversation.id %>">

        <%= render "show", messages: @messages, conversation: @conversation %>
      </div>
    <% end %>
  </div>
</div>


