  <%= active_link_to dashboard_upcoming_playdates_path, active: :exclusive, class: "dashboard-nav" do %>
    <%= image_tag "calendar.png", :class => "mob-ico" %>
    <span>Upcoming Playdates</span>
  <% end %>
  <%= active_link_to dashboard_playdate_requests_path, class: "dashboard-nav"  do %>
    <%= image_tag "invitation.png", :class => "mob-ico" %>

    <span>Playdate Requests</span>
    <% if  @playdates_requests  %>
      <% if not @playdates_requests.empty?  %>
      <div class="notification"><%= @playdates_requests.count %></div>
      <% end %>
    <% end %>
  <% end %>

  <%= active_link_to dashboard_pending_playdates_path, active: :exclusive, class: "dashboard-nav" do %>
    <%= image_tag "email.png", :class => "mob-ico" %>
    <span>Pending Playdates</span>
  <% end %>
  <%= active_link_to dashboard_past_playdates_path, active: :exclusive, class: "dashboard-nav" do %>
    <%= image_tag "past.png", :class => "mob-ico" %>
    <span>Past Playdates</span>
  <% end %>
