
<div class="sidenav dashboard">
  <%= render 'sidenav' %>
</div>
<div class="main dash">
  <%= render 'notification_bar_accepted.html.erb' %>

  <div class="container">
    <div class="contentblok" id="dash">
      <h1>Past Playdates</h1>
      <div class="playdategrid">
        <% if @playdates_past.empty? %>
          <p>No past playdates yet!</p>
        <% else %>
          <% @playdates_past.each do |playdate| %>
          <% inviter = User.find(playdate.inviter_id) %>
          <% receiver = User.find(playdate.receiver_id) %>

            <div class="pl-block">
              <div class="playcontent">
                <div class="avatars">
                  <div class="avatar-large" style="background:url('<%= inviter.photo %>')"></div>
                  <div class="avatar-large mg" style="background:url('<%= receiver.photo %>')"></div>
                </div>

                <h4>Playdate with
                  <% if inviter == current_user %>
                    <%= receiver.last_name %> family
                  <% else %>
                    <%=  inviter.last_name %> family
                  <% end %>
                </h4>


                <p><%= playdate.description %></p>
                <% reviews_by_me = [] %>
                <% playdate.reviews.each do |review| %>
                  <% reviews_by_me << review.user if review.user != current_user %>
                <% end %>

                <% if reviews_by_me.empty? %>
                  <% if current_user == inviter %>
                    <%= link_to new_user_playdate_review_path(user_id: receiver.id, playdate_id: playdate.id), class: "btn btn-primary" do %>
                      Write in guestbook
                    <% end %>
                  <% else %>
                    <%= link_to new_user_playdate_review_path(user_id: inviter.id, playdate_id: playdate.id), class: "btn btn-primary" do %>
                      Write in guestbook
                    <% end %>
                  <% end %>
                <% end %>



              </div>
              <div class="footerbox">
                <div class="date">
                  <i class="far fa-calendar-alt"></i> <%= playdate.date.to_formatted_s(:short) %>
                </div>
                <div class="options">
                  <% common_covo = (receiver.conversations & inviter.conversations).first %>
                  <%= link_to conversations_path(conversation_id: common_covo.id), class: "chatlink" do %>
                      <i class="fas fa-comments"></i>
                  <% end %>
                  <%= link_to user_playdate_path(current_user, playdate), method: :delete, data: { confirm: "Are you sure?" }  do %>
                     <i class="fas fa-trash-alt"></i>
                  <% end %>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
