<div class="container">
  <div class="user-container">
    <h1>Meet Carents in Brussels</h1>
    <p>Search amongst this list the family you want</p>
    <div class="cards">
      <% @users.each do |user| %>
      <%= link_to user_path(id: user.id) do %>
        <div class="usercards">
          <div class="card-image" style="background-image:url(<%= user.photo %>)"></div>


          <div class="userbio">
             <h3><%= user.last_name %> family</h3>
            <%= user.address %>
            <%= user.email %>

          </div>

        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
