<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="banner-content">
      <h1>Carents</h1>
  <div id="typed-strings">
      <h3>Meet Carents </h3>
      <h3>Form Friendships </h3>
      <h3>Organise Playdates </h3>
      <h3>Because everyone deserves friendship</h3>


  </div>
  <span id="typed"></span>

        <% if current_user == @user %>
        <br><br><%= link_to "Join us", user_session_path, class: "btn btn-flat" %>
      <% end %>
    </div>

    <div class="carousel-inner">
   <%= image_tag "photobooth.png", class: "photobooth show" %>
      <div class="carousel-item active">
          <%= image_tag "banner.jpg", :class => "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "banner1.jpg", :class => "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "banner2.jpg", :class => "d-block w-100" %>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container homepage">

<div class="row home">
  <div class="col-sm-100 col-md-4">
     <%= image_tag "negotiation.png", class: "iconimg" %>
     <h4>Meet other Carents</h4>
  </div>
  <div class="col-sm-100 col-md-4">
     <%= image_tag "kids.png", class: "iconimg" %>
     <h4>Become part of a community</h4>
  </div>
  <div class="col-sm-100 col-md-4">
     <%= image_tag "united.png", class: "iconimg" %>
     <h4>Organise fun playdates</h4>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <%= image_tag "family1.jpg", class: "img" %>
    </div>
    <div class="col-md-6 ctnt">
     <h3>Meet other Carents </h3>
     <p> Carents connects parents with other parents seeking playdate opportunities for their children with or without special needs in their community.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 ctnt">
       <h3> Become part of a community </h3>
       <p> We are stronger together. Become part of a global community of Caring Parents, share experiences and help eachother grow.  We all need a wolfpack. </p>
      </div>
      <div class="col-md-6 ">
       <%= image_tag "family2.jpg", class: "img"%>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "family3.jpg", class: "img" %>
    </div>
    <div class="col-md-6 ctnt">
     <h3> Organise fun playdates </h3>
     <p> Organise fun playdates wherever you are, with likeminded parents. Make friends for life!</p>
    </div>
  </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <h4> Make <i class="far fa-handshake"></i> friends </h4>
  </div>
</div>

</div>

