<div class="banner">
  <div class="container">
    <h1>Carents</h1>
    <p>Because having a friend is the most ordinary thing</p>
    <%= link_to "Join us", user_session_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container homepage">

<div class="row home">
  <div class="col-sm-100 col-md-4">
     <%= image_tag "negotiation.png", class: "iconimg" %>
     <h4>Meet wonderfull people online</h4>
  </div>
  <div class="col-sm-100 col-md-4">
     <%= image_tag "kids.png", class: "iconimg" %>
     <h4>Organize playdates</h4>
  </div>
  <div class="col-sm-100 col-md-4">
     <%= image_tag "united.png", class: "iconimg" %>
     <h4>Make friends for live</h4>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <%= image_tag "family1.jpg", class: "img" %>
    </div>
    <div class="col-md-6">
     <h3> Super Safe </h3>
     <p> Les utilisateurs devraient faire preuve de créativité lors du choix de mots de passe et en utiliser un différent pour chaque compte en ligne ! Un bon mot de passe compte au moins huit caractères. Le plus sûr est d’utiliser une combinaison de lettres minuscules et majuscules, de chiffres et de caractères spéciaux. Des mots de passe composés des premières lettres de paroles de chanson et de leur date de parution sont par exemple faciles à retenir. Si vous avez un grand nombre de mots de passe, vous pouvez aussi utiliser un gestionnaire de mots de passe gratuit. Tous ces mots de passe doivent bien évidemment être tenus secrets.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
       <h3> Wonderfull activity everywhere </h3>
       <p> Les utilisateurs devraient faire preuve de créativité lors du choix de mots de passe et en utiliser un différent pour chaque compte en ligne ! Un bon mot de passe compte au moins huit caractères. Le plus sûr est d’utiliser une combinaison de lettres minuscules et majuscules, de chiffres et de caractères spéciaux. Des mots de passe composés des premières lettres de paroles de chanson et de leur date de parution sont par exemple faciles à retenir. Si vous avez un grand nombre de mots de passe, vous pouvez aussi utiliser un gestionnaire de mots de passe gratuit. Tous ces mots de passe doivent bien évidemment être tenus secrets.</p>
      </div>
      <div class="col-md-6">
       <%= image_tag "family2.jpg", class: "img"%>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "family3.jpg", class: "img" %>
    </div>
    <div class="col-md-6">
     <h3> Stronger together </h3>
     <p> Les utilisateurs devraient faire preuve de créativité lors du choix de mots de passe et en utiliser un différent pour chaque compte en ligne ! Un bon mot de passe compte au moins huit caractères. Le plus sûr est d’utiliser une combinaison de lettres minuscules et majuscules, de chiffres et de caractères spéciaux. Des mots de passe composés des premières lettres de paroles de chanson et de leur date de parution sont par exemple faciles à retenir. Si vous avez un grand nombre de mots de passe, vous pouvez aussi utiliser un gestionnaire de mots de passe gratuit. Tous ces mots de passe doivent bien évidemment être tenus secrets.</p>
    </div>
  </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <h4> Make <i class="far fa-handshake"></i> friends </h4>
  </div>
</div>

