<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="<% if current_page?(root_path) %> notexture <% end %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>




    <%= yield %>



    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


  </body>
</html>
